@model double


@{
    Layout = "~/Views/Shared/_empty.cshtml";
}
<br />
<br />
<br />
<br />


<h4>

    Amount To Pay : @Model
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" asp-controller="Admin" asp-action="Index" role="button"> Pay Now</a>
</h4>